<h1><em><%= @band.name() %></em></h1><br />

<h3>Select All Venues Played:</h3>

<% if @venue_choices.any?() %>
  <form action="/bands/<%= @band.id() %>/add_venues" method="post">
    <input name="_method" type="hidden" value="patch" />

    <% @venue_choices.order(:name).each() do |venue| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="venue_ids[]" value="<%= venue.id() %>" />
          <%= venue.name() %>
        </label>
      </div>
    <% end %>

    <button type="submit" class="btn btn-primary">Add/Edit Venues</button>
  </form>
<% else %>
  <p><em>No venues played!</em></p>
<% end %><br />

<h3>Venues Played:</h3>

<ul>
  <% if @venues_played.any?() %>
    <% @venues_played.order(:name).each() do |venue| %>
      <li><%= venue.name() %></li>
    <% end %>
  <% else %>
    <li><em>No venues played!</em></li>
  <% end %>
</ul><br />

<h3>Edit Band Name:</h3>
<form action="/bands/<%= @band.id() %>/edit_name" method="post">
  <input name="_method" type="hidden" value="patch" />

  <div class="form-group">
    <input id="band_name" name="band_name" class="form-control" type="text" />
  </div>

  <button type="submit" class="btn btn-warning">Edit</button>
</form><br />

<form action="/bands/<%= @band.id() %>/delete" method="post">
  <input name="_method" type="hidden" value="delete" />

  <button type="submit" class="btn btn-danger">Delete Band</button>
</form><br />

<a href="/bands">Back</a>
